:root{
    --red : #fa5757 ;
    --blue : #5368df ;
    --gray : rgb(122, 122, 122) ;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

button{
    cursor: pointer ;
    border: 1px solid transparent ;
    font-size: 1rem ;
}

header {
    padding: 3rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-options {
    display: flex;
}
.ham-menu {
    padding: 0.25rem;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 5;
}

.ham-menu-line {
    display: block;
    width: 3rem;
    height: 4px;
    margin: 0.5rem 0;
    background-color: #5368df ;
    transform-origin: left;
    transition: transform 400ms ease , opacity 300ms ease ;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: indigo;
}

#ham{ display: none; }

#ham:checked ~ header > .ham-menu > .ham-menu-line:nth-child(2) {
    opacity: 0;
    background-color: #fa5757;
}
#ham:checked ~ header > .ham-menu > .ham-menu-line:nth-child(1) {
    transform: translateY(-5px) rotate(45deg) ;
    background-color: #fa5757;
}
#ham:checked ~ header > .ham-menu > .ham-menu-line:nth-child(3) {
    transform:  translateY(5px) rotate(-405deg) ;
    background-color: #fa5757;
}

.nav-option {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.nav-option:hover , .foot-link:hover {
    color: var(--red);
}

.nav-btn {
    color: whitesmoke;
    background-color: var(--red);
    border-radius: 0.25rem;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.548);
}

.nav-btn:hover , .join-btn:hover {
    background-color: white;
    border: 1px solid var(--red);
    color: var(--red);
}
/* ---------------------------------------------- */
.home{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.home-descp {
    width: 50%;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-descp-heading {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.home-descp-para {
    letter-spacing: 0.8px;
    color: var(--gray);
}

.home-descp-btn, .ft-btn , .ex-btn , .moreInfo , .join-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    background-color: var(--blue);
    color: whitesmoke;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.548);
    font-size: 1rem;
}

.h-d-p-ff {
    background-color: whitesmoke;
    color: black;
}
.h-d-p-ff:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.h-d-p-ch:hover , .ft-btn:hover , .ex-btn:hover , .moreInfo:hover {
    color: var(--blue);
    background-color: white;
    border: 1px solid var(--blue);
    outline: none;
}

button:focus{
    outline: none;
}

button:active {
    transform: scale(0.95);
}



.home-pic {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
}
.home-pic > img {
    width: 100%;
    position: relative;
    z-index: 2;
}

.home-pic-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 65%;
    border-radius: 300px 0 0 300px ;
    background-color: var(--blue);
}
/* ------------------------------------ */

.features {
    padding: 2rem 0;
}

.features-head , .features-para , .download-head , .download-para , .faq-header , .faq-para{
    text-align: center;
}

.features-para , .download-para, .faq-para {
    width: 60%;
    margin: auto;
    color: var(--gray);
}

.features-tab-head {
    width: 60% ;
    margin: 3rem auto 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 1px solid var(--gray);
}

.f-tab-head {
    display: block;
    text-align: center;
    padding: 0.8rem 0;
    color: var(--gray);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 400ms ease , border 400ms ease;
}

.f-tab-head:hover {
    color: var(--red);
}

.features-tab-cover {
    min-height: 450px;
    width: 100%;
    padding: 0 6rem ;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;
}

.feature-tab {
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 100%; */
    z-index: 2;
    height: calc(100% - 4rem );    
}

.ft-image , .ft-info {
    width: 50%;
}

.ft-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.ft-image::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 170%;
    background-color: var(--blue) ;
    bottom: 0px;
    left: 0;
    z-index: -1;
    transform: translateX(-70%) translateY(15%);
    border-bottom-right-radius: 250px;
}

.ft-image > img {
    max-height: 100%;
    max-width: 100%;
}

.ft-info {
    padding-left: 3rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.ft-para{
    color: var(--gray);
}

.ft-btn {
    align-self: start;
}

[name="chb"] {
    display: none;
}

.ftab1, .ftab2 , .ftab3 {
    opacity: 0;
    visibility: hidden;
}

#f-t-3:checked ~ .features-tab-head > .labelf-t-3 , 
#f-t-2:checked ~ .features-tab-head > .labelf-t-2 , 
#f-t-1:checked ~ .features-tab-head > .labelf-t-1 {
    border-bottom: 2px solid var(--red);
}

#f-t-3:checked ~ .features-tab-cover > .ftab3,
#f-t-2:checked ~ .features-tab-cover > .ftab2,
#f-t-1:checked ~ .features-tab-cover > .ftab1 {
    opacity: 1;
    visibility: visible;
}

/* ----------------------------------- */
.download {
    padding: 2rem 0;
    padding-bottom: 6rem;
}

.extensions {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
}

.extnsn {
    min-width: 260px;
    max-width: 400px;
    width: 30%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.24);
    position: relative;
}

.bg-dots{
    width: 80%;
    margin-top: 2rem;
}

.bg-dots > img {
    width: 100%;
}

.ext2 {
   transform: translateY(2rem);
}

.ext3 {
    transform: translateY(4rem);
}

.ex-head , .ex-ver {
    margin: 0;
    margin-top: 1.5rem;
}

.ex-ver {
    color: var(--gray) ;
}

.ex-btn {    
    font-size: 0.8rem;
    margin-top: 2rem;
}
/* ---------------------------------- */

.faqs{
    padding: 2rem 0;
}

.faq-qa {
    width: 60%;
    padding: 2rem;
    margin: 1rem auto 0;
}

.qus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    border-top: 1px solid rgb(180, 180, 180);
    cursor: pointer;
}
.qus:hover > p {
    color: var(--red);
}

.qus:nth-child(1){
    border-top: 1px solid rgb(180, 180, 180);
}

.qa-ans {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 200ms linear  ;
}

.qa-icon{
    transition: transform 200ms ease ;
}

#faq1:checked ~ .faq-qa > [for="faq1"] > .qa-icon,
#faq2:checked ~ .faq-qa > [for="faq2"] > .qa-icon,
#faq3:checked ~ .faq-qa > [for="faq3"] > .qa-icon,
#faq4:checked ~ .faq-qa > [for="faq4"] > .qa-icon {
    transform: rotate(180deg);
}

#faq1:checked ~ .faq-qa > #qa1,
#faq2:checked ~ .faq-qa > #qa2,
#faq3:checked ~ .faq-qa > #qa3,
#faq4:checked ~ .faq-qa > #qa4 {
    max-height: 100vh ;
}

[name="cbx"] {
    display: none;
}

.moreInfo {
    display: block;
    font-size: 0.8rem;
    margin: auto;
}

/* -------------------------------------------- */

.join {
    padding: 4rem 0;
    background-color: var(--blue);
}

.join-para, .join-head {
    text-align: center;
    margin: 1rem auto;
    width: 60%;
    color: white;
    letter-spacing: 1.5px;
}

.join-head{
    margin: 2rem auto;
    font-size: 2.2rem;
}

.join-us{
    display: flex;
    justify-content: center;
}

.join-btn{
    background-color: var(--red);
}

#join-inp{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    margin-right: 1rem;
    min-width: 17rem;
}


footer{
    background: #252b46;
    color: #fff;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

.foot-left , .foot-media , .foot-links {
    display: flex;
    align-items: center;
}

.foot-left{
    width: 50%;
    justify-content: space-between;
}

.foot-link , .f-m {
    margin: 0 1rem;
    cursor: pointer;
}

/* https://alligator.io/css/collapsible/ */

*{
    -webkit-tap-highlight-color: transparent;
}